@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

:root {
  --primary-color: #0290ff;
  --secondary-color: #0c0e16;
  --tertiary-color: #dfe1e6;
  --white-two: #fff;
  --white-three: #e8e8e8;
  --quaternary-color: #f5f6fa;
  --black-two: #121212;
  --black-three: #302f2f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5rem;
  width: 100vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  z-index: 1000;
}

.categories {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: black;
}

.avatar {
  max-height: 3rem;
}

.controlBox button {
  background-color: var(--white-two);
  font-family: 'Roboto Slab', serif;
  border: none;
  outline: none;
  font-weight: 300;
  color: #4386bf;
}

.divider {
  width: 0.125rem;
  height: 1.2rem;
  margin: 0 5% 0 5%;
  border: solid 1px var(--white-three);
}

.hrDivider {
  width: 100%;
  height: 0.125rem;
  margin: 2.5rem 0 2.5rem 0;
  border: solid 1px var(--white-three);
}

.bookForm {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

input[type='text'],
select {
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
  padding-left: 1rem;
  outline: none;
}

.categoryPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

.addBook {
  min-width: 10vw;
  height: 2.5rem;
  border-radius: 4px;
  font-family: 'Roboto Slab', serif;
  background-color: var(--primary-color);
  outline: none;
  border: solid 1px var(--white-three);
  color: white;
}



/* mobile version */
@media (width >= 765px) {
  .navItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }

  .panel-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 5.938rem;
    background-color: white;
    position: sticky;
    padding: 0 2.5rem 0 2.5rem;
    top: 0;
    overflow-x: hidden;
  }

  .bookstore-CMS {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
  }

  .books-nav {
    color: #121212;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
  }

  .pageWrapper {
    margin: auto;
    width: 80vw;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  }

  .innerWrapper {
    width: 90%;
    margin: auto;
  }

  .bookPanelBg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 4.375rem;
    gap: 2rem;
  }

  .bookPanel {
    min-height: 11rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 4px;
    border: solid 1px var(--white-three);
    background-color: var(--white-two);
    align-items: center;
  }

  .bookDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .firstCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .title {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: var(--black-two);
  }

  .author {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4386bf;
  }

  .category {
    width: 7rem;
    height: 1.125rem;
    margin: 0 4rem 0 0;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black-two);
  }

  .controlBox {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }

  .secondCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .progressBarAndUpdateButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .progressImg {
    max-width: 8rem;
    height: auto;
  }

  .progressVal {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black-two);
  }

  .completed {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: var(--black-two);
  }

  .bookStage {
    display: flex;
    flex-direction: column;
  }

  .currentChapter {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0.6rem;
    color: var(--black-three);
  }

  .chapter {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black-three);
    margin-bottom: 1.5rem;
  }

  .updateBtn {
    max-width: 11.5rem;
    min-height: 1.563rem;
    font-size: 10px;
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
    border-radius: 3px;
    background-color: var(--primary-color);
    border: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--white-two);
  }

  .lineDivider {
    width: 0.125rem;
    height: 4.375rem;
    margin: 0  10% 0 10%;
    border: solid 1px var(--white-three);
  }

  input[type='text'] {
    max-width: 22vw;
    height: 2.5rem;
    border-radius: 3px;
    font-family: 'Roboto Slab', serif;
  }

  select {
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
    min-width: 10vw;
    height: 2.5rem;
  }
}

/* mobile version */
@media (width <= 765px) {
  .navItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
  }

  .panel-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 5.938rem;
    background-color: white;
    position: sticky;
    padding: 0 1.5rem 0 1.5rem;
    top: 0;
    overflow-x: hidden;
  }

  .bookstore-CMS {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
  }

  .books-nav {
    color: #121212;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    text-size-adjust: 100%;
  }

  .pageWrapper {
    width: 100vw;
    margin: 0 0 0 0;
  }

  .innerWrapper {
    width: 100vw;
    margin: auto;
  }

  .bookForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .bookPanelBg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 4.375rem;
    gap: 1rem;
  }

  .bookPanel {
    padding: 1rem;
    border-radius: 4px;
    border: solid 1px var(--white-three);
    background-color: var(--white-two);
    align-items: center;
  }

  .bookDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .firstCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .controlBox {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }

  .title {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: var(--black-two);
  }

  .author {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4386bf;
  }

  .category {
    height: 1.125rem;
    margin: 0 4rem 0 0;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black-two);
  }

  .secondCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .progressBarAndUpdateButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .progressImg {
    max-width: 8rem;
    height: auto;
  }

  .progressVal {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black-two);
  }

  .completed {
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: var(--black-two);
  }

  .bookStage {
    display: flex;
    flex-direction: column;
  }

  .currentChapter {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0.6rem;
    color: var(--black-three);
  }

  .chapter {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black-three);
    margin-bottom: 1.5rem;
  }

  .updateBtn {
    max-width: 9.5rem;
    font-size: 10px;
    height: 2.063rem;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border-radius: 3px;
    background-color: var(--primary-color);
    border: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    text-align: center;
    color: var(--white-two);
  }

  .lineDivider {
    width: 0.125rem;
    height: 4.375rem;
    margin: 1.125rem 1.688rem 1rem 1.938rem;
    border: solid 1px var(--white-three);
  }

  .addNewBook {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #888;
    text-align: center;
  }

  input[type='text'] {
    width: 40vw;
    height: 2.5rem;
    border-radius: 3px;
    font-family: 'Roboto Slab', serif;
  }

  select {
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
    width: 40vw;
    height: 2.5rem;
  }
}
