* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.pageWrapper {
  margin: auto;
  width: 80vw;
}

.panel-bg {
  width: 100%;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  background-color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

.bookstore-CMS {
  height: 2.313rem;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  /* color: var(--azure); */
}

.categories {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: black;
}

.avatar {
  max-width: 2.5rem;
  height: auto;
  background-color: #dfe1e6;
}

.bookDetails {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.secondCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.progressBarAndUpdateButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progressImg {
  max-width: 5rem;
  max-height: 5rem;
}

.bookForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
